                @if (!string.IsNullOrWhiteSpace(ViewBag.StatusMessage))
                {
                    <p class="text-success">@ViewBag.StatusMessage</p>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.Warning))
                {
                    <p class="text-warning">@ViewBag.Warning</p>
                }