@{
    ViewBag.Title = "Central Home Health Care - About";
    ViewBag.Description = "All our caregivers are experienced, well-educated, and committed to ensuring a high quality of care for all our cherished clients";
    ViewBag.Keywords = "Home Health Care";
}

<div class="container page page-title-background about">
    <h2 class="page-title">About</h2>
    <div class="container page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row columns">
                        <div class="col-sm-6">
                            <h4>Home health care</h4>
                            <p>We are committed to providing high quality and efficient certified home health care in a cost-effective manner that helps patients foster the individual optimal health in their places of residence.</p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Our team</h4>
                            <p>All our caregivers are experienced, well-educated, and committed to ensuring a high quality of care for all our cherished clients. All of our staff must pass a rigorous background check before joining the Central Home Health Care team.</p>
                        </div>
                    </div>
                    <div class="row columns">
                        <div class="col-sm-6">
                            <h4>Yaroslav Grupin, President</h4>
                            <img src="~/img/content/CHHC-President-Yaroslav-Grupin-photo.jpg" alt="CHHC President Yaroslav Grupin photo" />
                            <p>Yaroslav has been working in home health care since 2003. "One of my former clients once told me that if he had a choice he would stay at home as long as he could. I agreed with him - that there is no better place than home. Reducing clients' risks of hospitalizations and improving quality of life for home bound clients is our main goal."</p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Marina Grupin, Clinical Director</h4>
                            <img src="~/img/content/CHHC-Clinical-Director-Marina-Grupin-photo.jpg" alt="CHHC Clinical Director Marina Grupin photo" />
                            <p>Marina has been a Registered Nurse for nearly ten years. Marina began specializing in home health care in 2003 and has been very passionate about providing excellent care ever since. "It is a joy and privilege to see how our work makes a difference in clients' lives."</p>
                        </div>
                    </div>
                    <div class="row columns last-row">
                        <div class="col-sm-6">
                            <h4>History of CHHC</h4>
                            <p>Central Home Health Care was founded in 2010 by Yaroslav and Marina, two experienced health care professionals who share a vision of creating a compassionate care service that would treat people with respect, dignity, and top-class care.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
