@{
    ViewBag.Title = "Central Home Health Care - Job";
    ViewBag.Description = "Central Home Health Care is an Equal Opportunity Employer which provides employment to all those who qualify";
    ViewBag.Keywords = "Home Health Care";
}

<div class="container page page-title-background about">
    <h2 class="page-title">Job</h2>
    <div class="container page-content">
        <div class="row columns">
            <div class="col-sm-12">
                <h3>Thank you.</h3>
                <h4>Job application was successfully submitted. You will be contacted shortly.</h4>
            </div>
        </div>
    </div>
</div>
