@{
    ViewBag.Title = "Central Home Health Care - Services";
    ViewBag.Description = "Central Home Health Care offers a wide range of plans";
    ViewBag.Keywords = "Home Health Care Services Equipment medication medical service referral";
}

<div class="container page page-title-background services">    
    <h2 class="page-title">Services</h2>
    <div class="container page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row columns">
                        <div class="col-sm-6">
                            <h4>We offer</h4>
                            <p>Central Home Health Care offers a wide range of plans, each tailored to meet your unique needs. Central Home Health Care is proud to offer the following services:</p>
                            <ul>
                                <li>Skilled Nursing</li>
                                <li>Physical Therapy</li>
                                <li>Home Health Aid</li>
                                <li>Occupational and Speech Therapy</li>
                            </ul>
                            <p>With one call to Central Home Health Care, your care giving worries will disappear. We can alleviate your stress and ensure that your loved one receives an exceptional level of care.</p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Services for families:</h4>
                            <p>Central Home Health Care also supports families and friends with the following services:</p>
                            <ul>
                                <li>Care giving education</li>
                                <li>Community support and resources</li>
                                <li>Planning of care and evaluation of needs</li>
                                <li>Ongoing assessment</li>
                                <li>Equipment, medication, and medical service referral</li>
                            </ul>
                            <p>We not only support patients, but we also support families and friends. We educate families, giving them the tools they need to provide the proper level of care for their loved ones. We can provide assessments and care plans, as well.</p>
                        </div>
                    </div>
                    <div class="row columns">
                        <div class="col-sm-6">
                            <h4>Location</h4>
                            <p>Geographical area of coverage:</p>
                            <ul>
                                <li>Middlesex</li>
                                <li>Suffolk</li>
                                <li>Norfolk Counties</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>Compassionate care</h4>
                            <p>Central Home Health Care is committed to providing high-quality, compassionate care. Our training and health care background means that your loved one will be in good hands. Our wide range of services, coupled with the friendly demeanor of our dedicated staff, ensures the best experience possible, for you and your loved one.</p>
                        </div>
                    </div>
                    <div class="row columns last-row">
                        <div class="col-sm-6">
                            <h4>Our clients</h4>
                            <p>Central Home Health Care accepts clients for services based on a reasonable expectation that the client’s medical, nursing, and social needs can adequately be met in the client’s place of residence.</p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Equal treatment</h4>
                            <p>Central Home Health Care does not discriminate based on sex, sexual orientation, race, color, religious creed, national origin, ancestry, age and/or disability.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>