<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SHABEL\SHABEL;Initial Catalog=chhc_20160515;Integrated Security=SSPI;" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=RASANOV-PC\SQLEXPRESS;Initial Catalog=chhc_20140801;Integrated Security=SSPI;" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:s07.winhost.com;Initial Catalog=DB_68372_chhc;User ID=DB_68372_chhc_user;Password=centralhhc01;Integrated Security=False;" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>